.movie {
  display: flex;
}
.img {
  margin-right: 16px;
}
.genre-span {
  margin-right: 8px;
}
.add-info {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.72);
  padding: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}
